.about{
    width:80%;
    margin:2% 10% 2% 10%;
}

.personal_statement{
    width:84%;
    margin:3% 8% 3% 8%;
    font-size: 18px;
    text-align: center;
}

.about_heading{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin-top:5%;
}


.interest_container{
    display:flex;
    width:90%;
    margin:5% 5% 5% 5%;
}


.interest{
    width:33.33%;
}

.interest_image{
    width:30%;
    padding:2% 35% 2% 35%;
}

.interest_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top:20px;
    text-align: center;
}

.hobbies_container{
    display:flex;
    width:90%;
    margin:5% 5% 5% 5%;
}

.hobby{
    width:33.33%;
}

.hobby_image{
    width:30%;
    padding:2% 35% 2% 35%;
}

.hobby_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top:20px;
    text-align: center;
}


@media (max-width: 767px){
    .about{
        width:100%;
        margin:2% 0% 2% 0%;
      }
      
      .personal_statement{
        width:92%;
        margin:3% 4% 3% 4%;
        font-size: 17px;
        text-align: justify;
      }
      
      .about_heading{
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin-top:8%;
      }
      
      
      .interest_container{
        display:inline-block;
        width:100%;
        margin:5% 0% 5% 0%;
      }
      
      
      .interest{
        width:100%;
        margin-bottom: 20%;
      }
      
      .interest_image{
        width:34%;
        padding:3% 33% 1% 33%;
      }
      
      .interest_title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin-top:5px;
        text-align: center;
      }
      
      .hobbies_container{
        display:inline-block;
        width:100%;
        margin:5% 0% 5% 0%;
      }
      
      .hobby{
        width:100%;
        margin-bottom: 20%;
      }
      
      .hobby_image{
        width:34%;
        padding:3% 33% 1% 33%;
      }
      
      .hobby_title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin-top:5px;
        text-align: center;
      }
      
}