.contact{
    width:100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact_container{
    margin:1% 20% 1% 20%;
    padding:1% 0% 1% 0%;
    display: flex;
}

.contact_icon_container{
    width:40%;
}

.contact_details_container{
    width:60%;
    padding:5px 20px 5px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_icon{
    width:15%;
    margin-left:65%;
    margin-top:0%;
    margin-bottom:2%;
}

.contact_me{
    font-size:20px;
    text-decoration: none;
    color:black;
}

.contact_institute{
    font-weight: 600;
    font-size: 25px;

}

.contact_time{
    font-size:15px;
}