.education{
    background-color: aquamarine;
    width:100%;
    border:1px solid white;
}

.education_container{
    margin:5% 5% 5% 5%;
    padding:5% 5% 5% 5%;
    display: flex;
    border:1px solid white;
}

.education_icon_container{
    width:30%;
    border:1px solid white;
}

.education_details_container{
    width:70%;
    border:1px solid white;
}

.education_icon{
    width:40%;
    margin-left:30%;
}