.header1{
    background-color: rgb(205, 244, 250);
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    margin-bottom:5%;
    width:70%;
    display: flex;
    padding: 4% 5% 4% 5%;
    border-radius:24px;
}

.profile_picture_container{
    width:20%;
}

.profile_details_container{
    width:80%;
}

.profile_picture{
    width:100%;
    border-radius: 40%;
    min-width: 150px;
}

.profile_details{
    padding-left:10%;
    padding-top:3%;
}

.profile_name{
    font-size: 40px;
}

.profile_title{
    font-size: 20px;
}

.navbar{
    margin-top:12%;
    display: flex;
}

.navbutton{
    border-radius:12px;
    padding:3px 12px 5px 12px;
    margin-right: 4px;
    margin-bottom: 5px;
    background-color:rgb(145, 229, 237);
    border:2px solid rgb(145, 229, 237);
}

.navbar a{
    
    color:black;
    text-decoration: none;
    font-size:16px;
}

.navbutton:hover{
    border:2px solid black;
}

.header2{
    text-align: center;
    font-size:22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:5% 14% 5% 14%;
}



@media (max-width: 767px){
    .header1{
        background-color: rgb(205, 244, 250);
        margin-left:0%;
        margin-right:0%;
        margin-top:0%;
        margin-bottom:1%;
        width:98%;
        display: inline-block;
        padding: 1% 1% 1% 1%;
        border:none;
        border-radius: 0;
    }

    .profile_picture_container{
        width:100%;
    }
    
    .profile_details_container{
        width:94%;
        padding-left: 2%;
        padding-right:2%;
    }

    .profile_picture{
        width:50%;
        border-radius: 47%;
        min-width: 150px;
        padding-left: 25%;
        padding-right: 25%;
        padding-top:5%;
    }

    .profile_details{
        padding-left:0%;
        padding-top:5%;
    }
    
    .profile_name{
        font-size: 24px;
        text-align: center;
    }
    
    .profile_title{
        font-size: 16px;
        text-align: center;
    }
    
    .navbar{
        display: none;
    }

    .header2{
        text-align: center;
        font-size:18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin:5% 5% 5% 5%;
    }

}