.projects{
    margin-top:3%;
    width:100%;
    align-items: center;
}

.projects_container{
    margin:1% 10% 4% 10%;
    padding:1% 0% 1% 0%;
    display: flex;
}

.projects_icon_container{
    width:40%;
}

.projects_details_container{
    width:55%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left:4%;
}

.projects_icon{
    width:100%;
}

.projects_heading{
    font-weight: 600;
    font-size: 25px;
}
.projects_heading2{
    font-size: 20px;
}

.projects_details{
    font-size:20px;
}



.icon{
    width:20px;
}

.link{

}

.link a{
    text-decoration: none;
    margin-right: 10px;
    color:black;
    font-size: 18px;
}

