body, html{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toggle_container{
    width:100%;
    border:1px solid white;
}

.open {
    padding: 1% 5% 1% 5%;
    margin: 1% 10% 0% 10%;
    width:80%;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #ccc;
}
  
  /* Style the collapsible content. Note: hidden by default */

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .open:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .section_heading{
    width:80%;
    color:black;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 1%;
    border-bottom: 4px solid rgb(145, 229, 237);
    margin:7% 10% 0% 10%;
  }




  
  
  
  
  
  