body, html{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:99.96%;
}

  .section_heading{
    width:80%;
    color:black;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 1%;
    border-bottom: 4px solid rgb(145, 229, 237);
    margin:10% 10% 0% 10%;
  }

  .top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:transparent;
    color:black;
    border: none;
    cursor: pointer;
    display: none;
  }

  .icon2{
    width:50px;
  }

@media (max-width: 767px) {
  body, html{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section_heading{
    width:98%;
    color:#132437;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 1%;
    border:none;
    margin:12% 1% 5% 1%;
    text-align: center;
  }

  .top-button {
    position: fixed;
    background-color:transparent;
    color:black;
    border: none;
    cursor: pointer;
    display: none;
  }

  .icon2{
    width:30px;
  }

}






  
  
  
  
  
  